<link
  href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
  rel="stylesheet"
/>

<div class="body">
  <div class="card">
    <div
      style="
        border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #f8faf5;
        margin: 0 auto;
      "
    >
      <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>
      We received your purchase request;<br />
      we'll be in touch shortly!
    </p>
    <a routerLink="/Home" class="initialism text-dark"> Back to Home</a>
  </div>
</div>
