.notification {
  position: relative;
}

.notification .badge {
  position: absolute;
  top: 25px;
  right: -3px;
  border-radius: 50%;
  background: #ff4081;
  color: white;
}

.navbar {
  width: 100%;
}
