<div class="card-group">
  <div class="col-3 p-1 mb-3" *ngFor="let product of Products">
    <app-product [product]="product" (updatedproduct)="addtocart($event)" ></app-product>
  </div>
  <!-- <div class="col-3 p-1 mb-3">
    <app-product></app-product>
  </div>
  <div class="col-3 p-1 mb-3">
    <app-product></app-product>
  </div>
  <div class="col-3 p-1 mb-3">
    <app-product></app-product>
  </div>
  <div class="col-3 p-1 mb-3">
    <app-product></app-product>
  </div>
  <div class="col-3 p-1 mb-3">
    <app-product></app-product>
  </div> -->
</div>
